@import '../../../../variables';
@import '../../../../mixins';

.mission-list-container {
	margin-top: 30px;
	@media (max-width: 700px) {
		margin-top: 15px;
	}
}

.custom-scroll {
	height: calc(100vh - 115px);
	padding-right: 10px;
	@media (max-width: 700px) {
		height: 100vh;
	}
  }

.transition {
	transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
}

.filter-main-heading {
	@include display(flex, space-between, center);
	margin-bottom: 10px;
	.filter-heading {
		@include fonts($medium + 2, 1.4, 500);
		color: $dark;
		margin-bottom: 0;
	}
	.close-filter {
		display: none;
		@media (max-width: 700px) {
			display: inline-block;
		}
	}
}

.card {
	border: none;
	padding: 10px;
	@include boxShadow(0, 4px, 8px, 0);
	@extend .border-radius;
	&.listing-card {
		height: 100%;
	}
	&.filter-card {
		padding-right: 0;
		.filter-wrapper {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
			.filter-sub-heading {
				border-bottom: 0.1px solid $gray;
				border-bottom-width: 0.5px;
				text-align: center;
				margin-bottom: 5px;
				user-select: none;
				h4 {
					@include fonts($regular, 1.4, 500);
					color: $medium-gray;
					margin-bottom: 0px;
				}
			}
			.list-item {
				padding: 0;
				margin: 0;
				@include display(flex, flex-start, flex-start);
				flex-wrap: wrap;
				margin: 0 -5px;
				li {
					width: 50%;
					display: inline-flex;
					padding: 5px;
					span {
						@extend .border-radius;
						background: lighten($color: $sub-primary, $amount: 60);
						width: 100%;
						display: block;
						padding: 5px;
						text-align: center;
						cursor: pointer;
						transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
						&:hover {
							background: lighten($color: $sub-primary, $amount: 55);
							transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
						}
						&.active {
							background: lighten($color: $sub-primary, $amount: 30);
							transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
						}
					}
				}
			}
		}
	}
}

.listing-header {
	@include display(flex, space-between, center);
	margin-bottom: 30px;
	@media (max-width: 700px) {
		margin-bottom: 15px;
	}
	h4 {
		@include fonts($medium, 1.4, 500);
		margin-bottom: 0;
	}
	.listing-header-action {
		@include display(inline-flex, flex-end, center);
		.view-mode {
			display: inline-flex;
			@media (max-width: 700px) {
				display: none;
			}
		}
		.filter-action {
			display: none;
			@media (max-width: 700px) {
				display: inline-flex;
			}
		}
		p {
			margin-bottom: 0;
			@include fonts($regular, 1.4, 500);
			color: $dark;
			margin-right: 5px;
		}
		.list-action-buttons {
			width: 20px;
			height: 20px;
			@extend .border-radius;
			background: $light;
			border-radius: 5px;
			@include display(inline-flex, center, center);
			cursor: pointer;
			position: relative;
			.applied-filter {
				width: 8px;
				height: 8px;
				background: $primary;
				border-radius: 50%;
				display: inline-block;
				position: absolute;
				top: -2px;
				right: -2px;
			}
			img {
				width: 100%;
			}
			i {
				font-size: 18px;
			}
		}
	}
}

.listing-row {
	margin: 0 -7.5px;
	.listing-col {
		padding: 0 7.5px;
		margin-bottom: 15px;
		@media (min-width: 700px) and (max-width: 1024px) {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
	&.list-view {
		.listing-col {
			flex: 0 0 50%;
			max-width: 50%;
			@media (min-width: 700px) and (max-width: 1024px) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}

::ng-deep {
	.list-view {
		.listing-col {
			.listing-card {
				.mission-wrapper {
					display: flex;
					.mission-thumbnail {
						width: 150px;
						height: 150px;
						@include display(flex, center, center);
					}
					.mission-detail {
						width: calc(100% - 175px);
					}
				}
			}
		}
	}
  }

  .filter-col {
	@media (min-width: 700px) and (max-width: 1024px) {
		flex: 0 0 25%;
		max-width: 25%;
	}
	@media (max-width: 700px) {
		width: 200px;
		padding-left: 0;
		padding-right: 0;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 9;
		transform: translateX(-100%);
		transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
		&.opened {
			transform: translateX(0);
		}
		.filter-card {
			height: 100%;
			border-radius: 0;
		}
	}
  }

  .mission-list-wrapper {
	@media (min-width: 700px) and (max-width: 1024px) {
		flex: 0 0 75%;
		max-width: 75%;
	}
  }

  
// cdk virtual scroll
.example-viewport {
    height: calc(100vh - 155px);
    width: 100%;
    border-radius: 4px;
    // overflow-y: hidden;
    overflow-x: hidden;
    word-break: break-word;
	@media (max-width: 700px) {
		height: calc(100vh - 125px);
	}
  }

  .overlay {
	  position: fixed;
	  @extend .center-aligned;
	  z-index: 8;
	  background: rgb(0 0 0 / 20%);
	  user-select: none;
	  pointer-events: none;
	  opacity: 0;
	//   @extend .transition;
	  &.opened {
		  opacity: 1;
		  user-select: all;
		  pointer-events: all;
	  }
  }