// Colors
$base-color: #f2f3f6;
$primary: #183f7e;
$sub-primary: #5a7424;
$dark: #1a1a1a;
$gray: #4c4c4c;
$medium-gray: rgb(138, 138, 138);
$light: #fff;
$light-gray: #eee;

// Fonts
$font: 'Poppins', sans-serif;
$small: 12px;
$regular: 14px;
$medium: 16px;
$large: 24px;

// Screen Sizes
$phone: 480px;
$phone-landscape: 576px;
$tablet: 767px;
$laptopview: 991px;
$laptop: 1024px;
$dekstop: 1280px;