/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import './variables';
@import './mixins';

html, body { height: 100%; }

body { 
    margin: 0;
    background: $base-color;
    overflow: hidden;
}

.container {
	max-width: 1300px;
}

.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt40 {
    margin-top: 40px;
}

.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb40 {
    margin-bottom: 40px;
}


.cdk-viewport {
    height: calc(100vh - 155px);
    width: 100%;
    border-radius: 4px;
    overflow-x: hidden;
    word-break: break-word;
	@media (max-width: 700px) {
		height: calc(100vh - 125px);
	}
  }

  .overlay {
	  position: fixed;
	  @extend .center-aligned;
	  z-index: 8;
	  background: rgb(0 0 0 / 40%);
	  user-select: none;
	  pointer-events: none;
	  opacity: 0;
	  &.opened {
		  opacity: 1;
		  user-select: all;
		  pointer-events: all;
	  }
  }
